{{ ansible_managed | comment('c') }}

{% macro render_config(apt_configuration_detail, prefix='') %}
{% for key, value in apt_configuration_detail.items() %}
{% if value is mapping %}
{{ render_config(value, prefix + key + '::') }}
{% elif value is iterable and value is not string %}
{% for item in value %}
{{ prefix + key }} "{{ item }}";
{% endfor %}
{% else %}
{{ prefix + key }} "{{ value }}";
{% endif %}
{% endfor %}
{% endmacro %}

{{ render_config(apt_configuration_detail) }}
