#################
#### MODULES ####
#################
{% for module in rsyslog_configuration.modules %}
module(load="{{ module.name }}") # {{ module.description }}
{% if module.settings|default(false) %}
  {% for key, value in module.settings.items() %}
    {% if key == 'input' %}
input(type="{{ value.type }}" port="{{ value.port }}")
    {% endif %}
  {% endfor %}
{% endif %}
{% endfor %}

###########################
#### GLOBAL DIRECTIVES ####
###########################
#
# Set the default permissions for all log files.
#
$FileOwner {{ rsyslog_configuration.global_directives.file_owner }}
$FileGroup {{ rsyslog_configuration.global_directives.file_group }}
$FileCreateMode {{ rsyslog_configuration.global_directives.file_create_mode }}
$DirCreateMode {{ rsyslog_configuration.global_directives.dir_create_mode }}
$Umask {{ rsyslog_configuration.global_directives.umask }}

#
# Where to place spool and state files
#
$WorkDirectory {{ rsyslog_configuration.global_directives.work_directory }}

#
# Include all config files in /etc/rsyslog.d/
#
$IncludeConfig {{ rsyslog_configuration.global_directives.include_config }}


###############
#### RULES ####
###############
{% for rule in rsyslog_configuration.rules %}
# Description: {{ rule.description | default("No description provided") }}
{{ rule.filter }}                        {{ rule.action }}
{% endfor %}
