# /etc/profile.d/terminal_colors.sh
# Enable terminal colors for all users
# This file is managed by Ansible (arillso.system.ui)

# Enable color support for ls and grep if possible
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi
