# {{ ansible_managed }}
# Ansible Automation Environment Variables

{% if ansible_otel_enabled %}
# OpenTelemetry Configuration
ANSIBLE_OPENTELEMETRY_ENABLED=true
OTEL_EXPORTER_OTLP_TRACES_PROTOCOL=http/protobuf
OTEL_EXPORTER_OTLP_ENDPOINT={{ ansible_otel_endpoint }}
{% if ansible_otel_headers %}
OTEL_EXPORTER_OTLP_HEADERS={{ ansible_otel_headers }}
{% endif %}
OTEL_SERVICE_NAME={{ ansible_otel_service_name }}
OTEL_RESOURCE_ATTRIBUTES=service.instance.id={{ inventory_hostname }},workload.type={{ ansible_otel_workload_type }},host.name={{ ansible_hostname }},deployment.environment={{ ansible_otel_environment }}
{% endif %}
