#!/bin/bash
# {{ ansible_managed }}
# Count of all available updates
total_updates=$(apt list --upgradable 2>/dev/null | grep -v Listing | wc -l)

# Count of security updates
security_updates=$(apt list --upgradable 2>/dev/null | grep -i security | wc -l)

echo "Available updates: $total_updates"
echo "Security updates: $security_updates"
echo
